@charset "UTF-8";

/* ---------------------------------
   画面全体のスライドのため
------------------------------------ */
.item img {
    width:100%;
}
 
.fluid2 {
padding:0;
}

.item carousel-caption h1{
	position: relative;
    top: 5px;
    left: 5px;
}
.menu-area{
	position: absolute;
	left: 354px;
	right: 0px;
	top: 0;
	height: 100%;
}

#iframe-menu{
	margin-left: -7px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: -20px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border: 0px;
	height: 576px;
	background-color:transparent;
}
.iframe-menu{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border: 0px;
}
#iframe-body{
	margin-left: -7px;
	margin-right: -20px;
	margin-bottom: 0px;
	margin-top: -20px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border: 0px;
	background-color:transparent;
	width: 750px;
	height: 500px;
}
.iframe-body{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border: 0px;
}
