@charset "UTF-8";


body{
	font-family: 'Open Sans', 'Hiragino kaku Gothic Pro', 'メイリオ', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

/* ---------------------------------
   共通
------------------------------- */

/* ヘッダー */

.menu {
	margin: 0;
	border: none;
	background-color: #fff;
}

.menu .collapse {
	margin-top: 10px;
}

.menu .navbar-toggle {
	margin-top: 17px;
}

.menu a {
	color: #0a5b9f !important;
}

.menu li a:hover	{
background-color: #3071a9 !important;
color: #fff !important;
}

.menu .navbar-toggle:hover,
.menu .navbar-toggle:focus {
 background-color: #a8cff1;
}

.menu .dropdown-menu	{
background-color: #fff;}

.navbar-header {
	padding-bottom: 20px;
}

@media (max-width: 992px) {
.navbar-header {
	padding-bottom: 10px;
}
.menu .collapse {
	margin-top: 0px;
}
}


/* footer */
.footer {
	padding: 13px 0 10px 0;
	background: #0a5b9e;
	color: #fff;
	text-align: center;
	font-size: 14px;
	-webkit-box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.5) inset;
	box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.3) inset;
}



/* ページトップ */
#scrollUp {
 background-image: url("../img/top.png");
	bottom: 15px;
	right: 15px;
	height: 50px;  /* Height of image */
	width: 50px; /* Width of image */
	text-indent: -9999px;
}

#scrollUp:hover {
	opacity: 0.8;
}

hr { border-color: #bdc9ef;}


/* ---------------------------------
   main
------------------------------------ */

/* main */
.main {
	padding: 20px 0;
	background-color: #f7efd3;
}

@media (max-width: 768px) {
.main {
	background: none;
}
}

/* contents */
.contents {
	padding: 15px;
	border: 1px #cdcdcd solid;
	background-color: #fff;
}
.top .contents h3 {
	margin-top: 0;
	font-size: 18px;
	padding: 10px 15px;
	background: #0a5b9e;
	color: #fff;
	border-radius: 5px;
}

.contents p {
	padding:5px 10px;
}

.contents ul.nav {
	margin-bottom: 20px;
}

.contents ul.nav li i {
	margin-right: 7px;
}
.contents ul.nav li span {
	font-size: 14px;
	padding-left: 10px;
	color: #666;
}

.contents ul.nav a:hover {
	background-color: #cde8ff;
}

.contents .nav > li > a {
padding: 5px 15px;
margin-bottom: 5px;
border: 1px solid #e6e6e6;
}

@media (max-width: 768px) {
.contents {
	padding: 0 10px;
	border: none;
}
}


/* aside */

aside .panel-info {
	border-color:#d8d8d8;
}
aside .panel-info .panel-heading {
	background-color: #ededed;
	border-color:#d8d8d8;
	color: #666;
}

aside .info .panel-body {
	font-size: 14px;
	padding: 10px 10px 0 10px;
}

aside .list-group-item {
	font-size: 14px;
	padding: 5px 15px 5px 25px;
}

aside a.list-group-item {
	color: #337ab9;
}
aside a.list-group-item:hover {
	color: #0a5b9d;
	background-color: #cde8ff;
}

aside .panel .panel-heading:nth-child(n+2){
	border-radius: 0;
}

aside .list-group-item:before	{
	position: absolute;
	left: 8px;
	top: 9px;
	content: '\f0a9';
	color: #0a5b9e;
	font-family: 'FontAwesome';
	font-size: 14px;
	line-height: 1;
}

aside .banner {
	margin: 0 auto;
	margin-bottom: 20px;
	max-width:320px;
}

aside .banner:hover {
	filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}

/* ---------------------------------
   top
------------------------------------ */

/* topCatch */
.topCatch {
	padding: 20px 0 0 0;
	background: #428ac9;
	color: #fff;
	-webkit-box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.5) inset;
	box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.3) inset;
}

.topCatch h2,.topCatch p {
	text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

.topCatch p {
line-height: 2;
}

.btn-outline-inverse {
 color: #428ac9;
 background-color: #fff;
 border: none;
}

.btn-outline-inverse:active, .btn-outline-inverse:focus, .btn-outline-inverse:hover {
background: #ffa200;
color: #fff;
}

.topCatch img {
	margin-top: 20px;
}

@media (max-width: 768px) {
.topCatch p {
font-size: 14px;
}
.catchText {
	text-align: center;
}
.topCatch {
	padding: 0px;
}
}


/* ---------------------------------
   中ページ共通
------------------------------------ */

/* topTitle */
.topTitle {
	padding: 5px 0;
	background: #428ac9;
	color: #fff;
	-webkit-box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.5) inset;
	box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.3) inset;
}

.topTitle h2 {
	text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

.contents h3.title {
	font-size: 30px;
	font-weight: bold;
	padding: 10px 0 20px 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #9a9a9a;
}

.contents h4.title {
	margin-top: 0;
	font-size: 21px;
	padding: 10px 15px;
	background: #0a5b9e;
	color: #fff;
	border-radius: 5px;
}

.contents h5 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	padding: 5px 0 6px 10px;
	border-left: 7px solid #4990c0;
	border-bottom: 1px solid #dfdfdf;
}

.imgSmall {
	max-width: 320px;
}

.att {
	font-size: 14px;
	color: #666;
}


/* ---------------------------------
   base
------------------------------------ */

ul.box {
	border: 1px solid #b3b3b3;
	padding: 10px 10px 10px 30px;
	margin-left: 10px;
	background-color: #f8f8f8;
}

.contents h5.none {
	font-size: 14px;
	font-weight: 500;
	padding:5px 0 0 0;
	border:none;
}

.contents p {
	word-break:break-all;
}

/* ---------------------------------
   css
------------------------------------ */
.heading h1, .heading h2, .heading h3, .heading h4, .heading h5, .heading h6,
.heading .h1, .heading .h2, .heading .h3, .heading .h4, .heading .h5, .heading .h6{
	font-weight: 600;
	padding:10px 0;
	margin: 0;
}

.heading .type-info {
	vertical-align: middle;
	text-align: center;
}

.heading h5 {
	font-size: 14px;
}


/* ---------------------------------
   compornent
------------------------------------ */

.bread_ex01{
  background-color: aqua;
}

.bread_ex02 > li + li:before {
  content: ">";
}

.bread_ex03 > li + li:before	{
	content: '\f0a9';
	font-family: 'FontAwesome';
}