* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  body {
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-color: #eee;
  }
  
  /*---------- header ----------*/
  header {
	width: 100%;
	background-color: #f390b9;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
  }
  .header-contents {
	position: relative;
	width: 100%;
	max-width: 960px;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
  }
  
  /*---------- #menu ----------*/
  #menu {
	width: 100%;
	max-width: 250px;
	height: 100%;
	background-color: #191970;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	transform: translate(250px);
	transition: all .5s;
  }
  #menu.open {
	transform: translate(0);
  }
  #menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  #menu li {
	padding: 8px;
	color: #fff;
	border-bottom: 1px solid #fff;
  }
  #menu_btn {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #fff;
	border-radius: 5px;
	padding: 6px 20px;
	background-color: #191970;
	cursor: pointer;
  }
  /* --- .menu-background --- */
  .menu-background {
	position: fixed;
	top: 0;
	left: 0;
	content: "";
	display: block;
	width: 0;
	height: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	opacity: 0;
	transition: opacity 0.5s;
  }
  .menu-background.open {
	width: 100%;
	height: 100%;
	opacity: 1;
  }
  
  /* ---------- main ----------*/
  main {
	height: 100%;
	padding: 0 50px;
  }
  .main-wrapper {
	position: relative;
	width: 100%;
	max-width: 960px;
	height: 250px;
	margin: 0 auto;
	background-color: #fff;
	text-align: center;
  }
  .main-wrapper h1 {
	line-height: 250px;
	vertical-align: middle;
  }
  
  /* ---------- footer ---------- */
  footer {
	width: 100%;
	background-color: #00ff7f;
	text-align: center;
  }
  .footer-wrapper {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 10px;
  }