/* iPhone8 以下 */
@media screen and (min-width: 320px) and (max-width: 414px) {
    #sidebarMenu {
        width: 100%;
    }

 }
 @media screen and (min-width: 320px) and (max-width: 414px) {
    input[type="checkbox"]:checked ~ .main {
        /* transform: scaleX(0.7); */
        transform:translateX(500px);
    }

}
@media screen and (min-width: 320px) and (max-width: 414px) {
    .main {
        margin-left: 2px;
        margin-right: 2px;
    }

}



@media screen and (min-width: 320px) and (max-width: 414px) {
/* menu start */
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 300ms ease-in-out;
    background-color: #4990c0;
    overflow: auto;

    /* background: linear-gradient(180deg, #46a4fcd2 0%, #3F5EFB 100%); */
}
}
@media screen and (min-width: 320px) and (max-width: 414px) {
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateY(0);
    transition: transform 300ms ease-in-out;
}
}



/* iPhone8 以上 */
@media screen and (min-width: 414px) and (max-width: 500px) {
    #sidebarMenu {
        width: 240px;
    }

 }
 @media screen and (min-width: 414px) and (max-width: 500px) {
    input[type="checkbox"]:checked ~ .main {
        /* transform: scaleX(0.7); */
        transform:translateX(250px);
    }

}

/* iPad  */
@media screen and (min-width: 500px) and (max-width: 768px) {
    #sidebarMenu {
        width: 220px;
    }

 }
 @media screen and (min-width: 500px) and (max-width: 768px) {
    input[type="checkbox"]:checked ~ .main {
        transform: scaleX(0.70);
        /* transform:translateX(250px); */
    }

}
/* iPad Pro  */
@media screen and (min-width: 834px) and (max-width: 1024px) {
    #sidebarMenu {
        width: 230px;
    }

 }
 @media screen and (min-width: 834px) and (max-width: 1024px) {
    input[type="checkbox"]:checked ~ .main {
        transform: scaleX(0.78);
        /* transform:translateX(250px); */
    }
}



